#butt1 {
  height: 30px;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 5px;
}
#butt2 {
  height: 30px;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 5px;
}
#butt3 {
  height: 30px;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 5px;
}
canvas{
  background-color: black;
}
.bar{
  position:absolute;
  left: 70px;
  top:1000px;
  width:1080px;
  height:202.5px;
  margin-top: -400px;
  border: 4px solid #00004F;
}
.white-steps{
  position: relative;
  background
  width:1200px;
  height:200px;
  display: inline-flex;
}

.black-steps1{
  position: relative;
  transform: translate(-206%);
  left:4px;
  width:500px;
  height:0px;
  display: inline-flex;
  margin-top: 0.5px;
}
.black-steps2{
  position:relative;
  transform: translate(-524%);
  width:250px;
  height:0px;
  display: inline-flex;
  margin-top: 0.5px;
}
.black-steps3{
  position:relative;
  transform: translate(-254%);
  width:500px;
  height:0px;
  display: inline-flex;
  margin-top: 0.5px;
}
.black-steps4{
  position:relative;
  transform: translate(-622%);
  width:250px;
  height:0px;
  display: inline-flex;
  margin-top: 0.5px;
}
.step{}
.white-step{
  position:relative;
  width: 70px;
  height: 200px;
  background-color: #fff8dc;
  border: 1px solid #111111;
}

.black-step{
  margin-right: 35px;
  width: 35px;
  height: 170px;
  background-color: #2f4f4f;
  border: 1px solid black;
  display:inline-block;
}
.clicked-step{
  background-color: red;
}
.synthMain{
  height: 800px;
  width: 1200px;
  background-color: #400040;
  border: solid black 2px;
  border-radius: 5px;
  display:inline-block;
  user-select: none;
}

.mainWindowContainer{
  width:685px;
  height:530px;
  background-color:grey;
  display:inline-flex;
  position:absolute;
}

.effectsContainer{
  width:520px;
  width:220px;
  //background-color:red;
  margin:2px;
}

.oscContainer{
  width:470px;
  height:525px;
  display:inline-block;
  margin: 1px;
  background-color:#00004F;
  border-radius: 5px;
}

.osc{
  width:467px;
  height:170px;
  border: 1px solid black;
  margin:2px;
  background-color:black;
  border-radius: 10px;
  display:inline-flex;
}
.selectedOsc{
  background: linear-gradient(to bottom, black 0%, #00FF00 100%);
}

.oscZone {
  
  height:160px;
  border: 2px solid #404040;
  margin:2px;
  background-color:#B2B2B2;
  border-radius: 5px;  
}

#oscZone1{
  width:250px;
  display:inline-block;
}

#oscZone2{
  width:200px;
}

#oscZone3{
  display:inline-block;
  width:200px;
}

.buttonOscContainer{
  width:250px;
  background-color:#4F4F4F;
  height:60px;
  display:inline-flex;
}

#oscButton{
  background-color:white;
  border:1px solid black;
  margin:2px;
  border-radius: 15px;
  width:50px;
  position:relative;
}

.onOffOsc{
  position:relative;
  background-color:#004200;
  border-radius:50px;
  width:15px;
  height:15px;
  margin:4%;
  border: 3px solid black;
}

.dotOnOffContainer{
  width:50px;
  height:39px;
  border:1px solid black;
  background-color:green;
  display:inline-flex;
  
}


#butt1{}
#butt2{}
#butt3{}

#dot1{}
#dot2{}
#dot3{}

.clicked{
  background-color:#00FF00;
}

.knob{
  background-color:black;
  width:30px;
  height:30px;
  border-radius:50px;
  position:relative;
  //margin-left:20px;
  transform:translateY(-50%);
  //top:50%;
  
}

.attackLabel{

  background-color:#4F4F4F;
  text-align:center;
  font-size:14px;
  font-family: "Arial";
  color:white;
}

.releaseLabel{
  background-color:#4F4F4F;
  text-align:center;
  font-size:14px;
  font-family: "Arial";
  color:white;
}

.attackKnob{
  margin-top:2px;
  margin-bottom:2px;
  margin-left:15px;
  top:15px;
  transform:translateY(-50%) rotate(225deg);
}
.releaseKnob{
  margin-top:2px;
  margin-bottom:2px;
  top:16px;
  margin-left:15px;
  transform:translateY(-50%) rotate(225deg);
}

.volKnob{
  position:relative;
  left:25%;
  top:37%;
  transform:translateY(-50%) rotate(0deg);
}




.knobLabel{
  width:4px;
  height:14px;
  background-color:red;
  position:relative;
  transform:translateX(-50%);
  left:50%;
}


.canvasKnobsContainer {
  height:100px;
  width:250px;
  background-color:red;
  display:inline-flex;
}

.attackReleaseContainer{
  height:100px;
  width:60px;
  background-color:#4F4F4F;
  display:inline-block;
}

.knobVolContainer{
  display:inline-block;
  width:58px;
  height:60px;
  margin-left:19px;
  
  
}

#vol1{}
#vol2{}
#vol3{}
#att1{}
#rel1{}
#att2{}
#rel2{}
#att3{}
#rel3{}

#canvFreq{
  position: relative;
  top:50px;
  left:700px;
}

.rowLfo{
  width:200px;
  height:53px;
  //background-color:green;
  //border: solid black;
  display:inline-flex;
}

.lfoKnob{
  transform:translateY(-50%);
  top:50%;
  left:40px;
}

.displayLfoKnob{
  display:center;
  position:relative;
  background-color:white;
  height:30px;
  width:70px;
  transform:translateY(-50%);
  top:50%;
  left:40%;
  text-align:center;
  font-size: 25px;
  border-radius:10%;
  
}

#secondLfoRow{
  display:inline-flex;
}



#selLfo1{}
#selLfo2{}
#selLfo3{}

#lfoKnob1{
  transform: translateY(-50%) rotate(225deg)
}

#lfoKnob2{
  transform: translateY(-50%) rotate(225deg)
}

#lfoKnob3{
  transform: translateY(-50%) rotate(225deg)
}

.selectorLfo{
  position:relative;
  transform:translateY(-50%);
  left:55px;
  top:50%;
}

.lfoButton{
  position:relative;
  transform:translateX(-50%) translateY(-50%);
  left:50%;
  top:50%;
  width:55px;
  height:35px;
  border-radius:10%;
  border:solid black 3px;
  font-size:12px;
}

.clickedLfo{
  background-color: white;
  border:solid #228DFF 3px;
  animation: neon 0.5s ease-in-out infinite;
}

@keyframes neon {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #228DFF, 0 0 40px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF;
  }
  //from {
    //box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  //}
  //to {
    //box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  //}
}

.selectOscContainer{
  position:relative;
  left:5%;
  
}

.select_box{
  position:relative;
  top:8%;
}

.delayRow{
  position:relative;
  display:inline-flex;
  width:200px;
  height:55px;
  margin:3px;
  border: solid black 1px;
}


.delayButton{
  border:solid black 2px;
  position:relative;
  width:50px;
  height:25px;
  margin-top:10%;
  transform:translateX(-50%);
  left:50%;
}

.delayFeatureContainer{
  display:inline-block;
  position:relative;
  
  margin-right:5%;
  width:60px;
  height:55px;  
}

.delayLabel{
  position:relative;
  top:2%;
  text-align:center;
  font-size:12px;
  font-family: "Arial";
  color:white;
}


.onOffDelay{
  position:relative;
  background-color:#004200;
  width:15px;
  height:15px;
  border-radius:50%;
  border: solid black 2px;
  left:50%;
  transform:translateX(-50%);
  top:2%;
}

.delayActive{
  background-color:#00FF00;
}

.filterRow{
  position:relative;
  display:inline-flex;
  width:200px;
  height:55px;
  margin:3px;
  border: solid black 1px;
}


.filterButton{
  border:solid black 2px;
  position:relative;
  width:50px;
  height:25px;
  margin-top:10%;
  transform:translateX(-50%);
  left:50%;
}

.filterFeatureContainer{
  display:inline-block;
  position:relative;
  margin-right:5%;
  width:60px;
  height:55px;  
}

.filterLabel{
  position:relative;
  top:2%;
  text-align:center;
  font-size:12px;
  font-family: "Arial";
  color:white;
}


.onOffFilter{
  position:relative;
  background-color:#004200;
  width:15px;
  height:15px;
  border-radius:50%;
  border: solid black 2px;
  left:50%;
  transform:translateX(-50%);
  top:2%;
}

.filterActive{
  background-color:#00FF00;
}

.selectorFilt{
  position:relative;
  transform:translateY(-50%);
  height: 20px;
  //left:55px;
  top:50%;
}

.distortionRow{
  position:relative;
  display:inline-flex;
  width:200px;
  height:55px;
  margin:3px;
  border: solid black 1px;
}


.distortionButton{
  border:solid black 2px;
  position:relative;
  width:50px;
  height:25px;
  margin-top:10%;
  transform:translateX(-50%);
  left:50%;
}

.distortionFeatureContainer{
  display:inline-block;
  position:relative;
  margin-right:5%;
  width:60px;
  height:55px;  
}

.distortionLabel{
  position:relative;
  top:2%;
  text-align:center;
  font-size:12px;
  font-family: "Arial";
  color:white;
}


.onOffDistortion{
  position:relative;
  background-color:#004200;
  width:15px;
  height:15px;
  border-radius:50%;
  border: solid black 2px;
  left:50%;
  transform:translateX(-50%);
  top:2%;
}

.distortionActive{
  background-color:#00FF00;
}